.root-app-wrapper {
    display: flex;

}

.navigation-container {
    height: 100vh;
    width: 20%;
    background: #1a1a1d;

    .navigation-container-header {
        font-family: 'Cinzel', serif;
        color: #fff;
        font-size: 30px;
    }
}

.main-container {
    height: 100vh;
    width: 80%;
    background-color: rgb(235, 236, 236);
}

.header-container {
    background: red;
    padding: 30px;
}