.root-app-wrapper {
    display: flex;

}

.navigation-container {
    height: 100vh;
    width: 20%;
    background: $primary-color;

    .navigation-container-header {
        font-family: 'Cinzel', serif;
        color: #fff;
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
}

.main-container {
    height: 100vh;
    width: 80%;
    background-color: $primary-background-color;
}
